---
// Supports weights 100-900
import '@fontsource-variable/dm-sans';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./assets/images/favicon-32x32.png"
        />

        <title>Frontend Mentor | Bento grid</title>

        <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
        <style>
            body {
                font-family: 'DM Sans Variable', sans-serif;
            }
            .attribution {
                font-size: 11px;
                text-align: center;
            }
            .attribution a {
                color: hsl(228, 45%, 44%);
            }

            .grid_container {
                display: grid;

                gap: 2rem;
                grid-template-columns: 1fr;
                align-items: center;
                grid-template-areas:
                    'social'
                    'multiple'
                    'posting'
                    'schedule'
                    'growth'
                    'speed'
                    'quicker'
                    'content';
            }

            .social {
                grid-area: social;
            }

            .multiple {
                grid-area: multiple;
            }

            .posting {
                grid-area: posting;
            }

            .growth {
                grid-area: growth;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .speed {
                grid-area: speed;
                display: flex;
                flex-direction: column;
            }

            .schedule {
                grid-area: schedule;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 1rem;
            }

            .content {
                grid-area: content;
                display: flex;
                flex-direction: column;
            }

            .quicker {
                grid-area: quicker;
                display: flex;
                flex-direction: column;
                padding: 2rem;
            }
        </style>
    </head>
    <body class="bg-white p-4">
        <main class="grid_container mb-10 max-w-7xl">
            <div
                class="social flex flex-col items-center justify-center gap-5 rounded-xl bg-purple500 p-6 text-white"
            >
                <p class="text-center text-5xl font-semibold">
                    Social Media <span class="text-yellow500">10x</span> Faster with
                    AI
                </p>
                <img width="200px" src="/illustration-five-stars.webp" alt="" />

                <div class="text-center text-xs text-yellow100">
                    Over 4,000 5-star reviews
                </div>
            </div>

            <div
                class="multiple flex flex-col items-center justify-center rounded-lg p-3 shadow-lg"
            >
                <img src="/illustration-multiple-platforms.webp" alt="" />
                <p
                    class="pt-6 text-2xl font-semibold leading-[1.25rem] tracking-tighter text-black"
                >
                    Manage multiple accounts and platforms.
                </p>
            </div>

            <div class="box-6 bg-yellow500 p-3">
                <p
                    class="pb-3 text-2xl font-semibold leading-[1.25rem] text-black"
                >
                    Maintain a consistent posting schedule.
                </p>
                <img
                    class="top-110 absolute left-3 w-56 px-1"
                    src="/illustration-consistent-schedule.webp"
                    alt=""
                />
            </div>

            <div
                class="box-4 relative min-w-32 overflow-hidden bg-purple100 p-3"
            >
                <p
                    class="pb-4 text-2xl font-semibold leading-[1.25rem] text-black"
                >
                    Schedule to social media.
                </p>
                <img
                    class="ml-10"
                    src="/illustration-schedule-posts.webp"
                    alt=""
                />
                <p class="mt-4 text-sm">
                    Optimize post timings to publish content at the perfect time
                    for your audience.
                </p>
            </div>

            <div class="box-8 flex">
                <img class="" src="/illustration-grow-followers.webp" alt="" />
                <p>Grow followers with non-stop content.</p>
            </div>

            <div class="box-7">>56% faster audience growth</div>
            <div class="box1">Create and schedule content quicker.</div>
            <div class="box-2">Write your content using AI.</div>
        </main>
    </body>
</html>
